  

<div class="jumbotron">
  <h1 class="display-4">Welcome to Challenges and Tricks</h1>
  <p class="lead">Post a challenge as Brand and give rewards to customers </p>
  <p class="lead">Solve tricks as customers and win rewards</p>


    <%= image_tag "3440.jpg" %>  
</div>


